@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&family=Mouse+Memoirs&family=Oswald:wght@200;300;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-top .container a {
    font-family: 'Poppins', sans-serif;
}

.marginTop {
    margin-top: 100px;
}